button {
  margin-top: 8px;
  position: relative;
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 0 hsl(0deg 0% 100% / 40%);
  background-color: #0a95ff;
  color: white;
  padding: 0.8em;
  font-size: 14px;
  outline: none;
  font-weight: normal;
  text-align: center;
  cursor: pointer;
}
